body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Set your desired background color */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.about, .portfolio, .contact {
    margin: 20px;
    background-color: #fff; /* Set background color for these sections if needed */
    padding: 20px;
    border-radius: 8px; /* Add rounded corners for a nicer look */
}

.project {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

